* {
  margin: 0;
  -webkit-box-sizing: 0;
  box-sizing: 0;
  cursor: none;
}

html,
body {
  background: linear-gradient(70deg, #2f054e, #975cbf, #3578b1, #0e2453);
  background-size: 400% 400%;
  -webkit-animation: gradient 20s ease infinite;
  animation: gradient 20s ease infinite;
  color: #fff;
  scroll-behavior: smooth;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

body .cursor {
  width: 2rem;
  height: 2rem;
  border: 4px solid #ffffff;
  border-radius: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  pointer-events: none;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

body .link-grow {
  -webkit-transform: scale(2);
  transform: scale(2);
  background: #444444;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  border: 4px solid #444444;
}

body .hovered-link {
  color: #ffffff;
}

body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1rem;
}

body header p {
  color: #fff;
  font-family: 'Fredoka One', cursive;
  text-align: right;
  letter-spacing: 0.1rem;
  font-size: 20px;
  font-weight: bolder;
  width: 700px;
}

body header img {
  height: 80px;
}

body main .container .block {
  min-height: 100vh;
}

body main .container .block .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 60vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  font-family: 'Fredoka One', cursive;
  font-size: 18px;
  padding-top: 3rem;
}

body main .container .block .content a {
  text-decoration: none;
  font-size: 2rem;
  color: #fff;
  text-align: center;
  font-size: 30px;
  margin: 0.5rem;
  text-transform: uppercase;
  border-bottom: 5px solid #d25aa5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body main .container .block .content a:hover {
  background: none;
  font-size: 32px;
  border-bottom: 7px solid #6e93e4;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #ffffff;
}

body main .container .block .content .left {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  color: #fff;
}

body main .container .block .content .center {
  width: 70%;
  padding: 1.5rem;
  text-align: center;
  font-size: 3rem;
}

body main .container .block .content .right {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  color: #ffffff;
}

body main .container .block .toogle {
  font-size: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  bottom: 0;
  left: 50%;
  right: 50%;
}

body main .container .block .toogle .toogleUP {
  padding-top: 2rem;
  color: #fff;
  -webkit-animation: jump 3s infinite;
  animation: jump 3s infinite;
  position: relative;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

body main .container .block .toogle .toogleUP:hover {
  color: #d25aa5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body main .container .block .toogle .toogleDown {
  color: #fff;
  -webkit-animation: jump 3s infinite;
  animation: jump 3s infinite;
  position: relative;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

body main .container .block .toogle .toogleDown:hover {
  color: #d25aa5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body main .container .about-blocks {
  min-height: 100vh;
}

body main .container .about-blocks .content .center {
  font-size: 25px;
}

body main .container .about-blocks .content .center p {
  line-height: 150%;
}

body main .container .about-blocks .content .center p a {
  text-transform: uppercase;
  font-size: 25px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 5px solid #d25aa5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body main .container .about-blocks .content .center p a:hover {
  background: none;
  border-bottom: 7px solid #6e93e4;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body main .container .about-blocks .content .center p .p-links {
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  align-items: center;
  width: 20%;
  padding: 0.5re;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .cursor {
    display: none;
  }
}

@media screen and (max-width: 660px) {
  #writer {
    font-size: 16px;
    padding: 0.5rem;
  }

  .content {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .content .right,
  .content .left {
    -webkit-transform: none !important;
    transform: none !important;
  }

  .content .center {
    font-size: 20px !important;
  }

  .content .center a {
    font-size: 20px;
  }
}

@media screen and (max-width: 400px) {
  .toogleUP {
    animation: none !important;
  }
  .toogleUP {
    animation: none !important;
  }

  .center-text {
    font-size: 12px !important;
    margin: 0.5rem;
  }

  .media-link {
    font-size: 12px !important;
  }

  .blockthree {
    font-size: 12px !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .blockthree a {
    font-size: 12px !important;
    margin: 0.5rem;
  }

  .p-links {
    width: 50% !important;
  }
}

@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    * {
      cursor: default;
    }

    .cursor {
      display: none;
    }
  }
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@-webkit-keyframes jump {
  0% {
    top: -20px;
  }

  50% {
    top: 10px;
  }

  100% {
    top: -20px;
  }
}

@keyframes jump {
  0% {
    top: -20px;
  }

  50% {
    top: 10px;
  }

  100% {
    top: -20px;
  }
}

/*# sourceMappingURL=main.css.map */
